:root {
    --main-color: rgb(0, 0, 34);
  }
  
body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: #f3f2ef;
    color: var(--main-color);
    font-weight: 100;
}

a {
    color: inherit;
    text-decoration-style: dashed;
}
p {
    font-size: 20px;
}
h1, h2, h3 {
    margin: 2vh 0;
}
main h1 {
    font-size: 60px;
}
main h2 {
    font-size: 35px;
}
main h3 {
    font-size: 25px;
}

#app {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
      'header'
      'main'
      'footer';
    max-width: 950px;
    margin: 0 auto;
    padding: 0 1.5em;
}
#app > header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: baseline;
    border-bottom: 1px solid var(--main-color);
}
header  a {
    text-decoration: none;
}
header > section > a {
    padding:0 20px;
    font-size: 20px
}
header > #header_logo {
    font-size: 25px;
}
#app > main {
    grid-area: main;
    padding: 15px 5px 10px 5px;
    display: grid;
    justify-content: center;
    align-content: center;
}
#app > footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-bottom: 1em;
    font-size: 16px;
    border-top: 1px solid var(--main-color);
}
footer > section {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
}

@media (max-width: 768px) {
    #app > footer {
      /* 4 columns for larger screens */
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: 1fr;
      margin-bottom: 0;
    }
    footer > section {
        padding-top: 5px;
    }
}

.post_teaser {
    display: grid;
    grid-template-columns: 1fr 10fr;
    align-content: first baseline;
    text-decoration: none;
}
.post_teaser > .post_title {
    margin-left: 7px;
}

.post_teaser > .post_title::before {
    content: " - "
}
.post_teaser > .post_title::after {
    font-style: italic;
    font-size: 16px;
    content: "Read more";
    border-bottom: 1px dashed var(--main-color);
    margin-left: 7px;
}
