<!DOCTYPE html>
<html>
<head>
    <title>Simon Gavris - Posts</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#e8e8e8">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#e8e8e8">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#e8e8e8">
</head>
<body>
    <div id="app">
        <header>
            <section>
                <a id="header_logo" href="/">Simon Gavris</a>
            </section>
            <section id="header_links">
                <a href="/posts" class="link_active">Posts</a> 
                <a href="/about">About</a>
            </section>
        </header>
        <section id="post">
            {{ post|safe }}
        </section>
        <footer>
            <div>Simon Gavris - 2022</div>
            <section>
                <a href="mailto:simon.gavris@gmail.com" target="_blank">Mail</a>
                <a href="https://www.linkedin.com/in/simon-gavris-723554a9/" target="_blank">LinkedIn</a>
                <a href="https://github.com/simongavris/" target="_blank">Github</a>
            </section>
        </footer>
    </container>
</body>
</html> 